.botonError{
  background:  #F72349;
  border: none
}

.botonCorrecto{
  background: #7ED957;
  border: none;
}

div{
  text-align: center;  
}

h2{
  text-align: center;
  font-family: Verdana;
}

.title1{
  color: #ffff;
  text-shadow: 0 0 5px #000;
}

button{
  margin: 10px;
  width: 60%;
background-color: #FB8756;
border: none;
border-radius: 8px;
}


.backgroundColor{
 background: #F6DC85;
}

.colorbtn{
background-color: #FB8756;
border: none;
}

.font{
  font-family: Verdana;
}